
@mixin reset-bounding-box($margin-size: 0, $padding-size: 0, $border-weight: 0, $border-color: transparent) {
	margin: $margin-side;
	padding: $padding-side;
	border: $border-weight solid $border-color;
}