$txt-xxs: 8px;
$txt-xs: 10px;
$txt-s: 12px;
$txt-m: 14px;
$txt-l: 18px;
$txt-xl: 24px;
$txt-xxl: 32px;

@mixin font($font, $style: normal, $weight: normal) {
  font-family: $font;
  font-style: $style;
  font-weight: $weight;
}

// define used fonts
@each $font-face in opensans, opensans-light, nevo-bold, nevo-regular, SquareBox {
	@font-face {
		font-family: $font-face;

	// ../fonts = _assets/fonts, relative to //_assets/style
	src:	url('fonts/#{$font-face}.eot');
	src:	url('fonts/#{$font-face}.eot?') format('eot'),
			url('fonts/#{$font-face}.woff') format('woff'),
			url('fonts/#{$font-face}.ttf') format('truetype');
	}
}
