$navbar-height: 60px;
$navbar-margin: 10px;
$navbar-icon-size: $navbar-height * 0.8;

//// Navbar for start page - only limited information
.navbar-start-block {
	@extend .std-block;
	@include responsive3(height, $navbar-height);	
	@include responsive3(margin-top, $navbar-margin * 2);
	@include responsive3(margin-left, $navbar-margin);	
	@include responsive3(margin-right, $navbar-margin);

	& > .navbar-start-title {
		$icon-ratio : 100/20; // recovered from image dimension
		border:1px solid red;
		fill: $primary;
		@include responsive3(height, $navbar-icon-size);
		@include responsive3(width, $navbar-icon-size * $icon-ratio);
	}

	& > .navbar-start-icon {
		fill: $primary;
		@include responsive3(height, $navbar-icon-size);
		@include responsive3(width, $navbar-icon-size);
	}
}



.std-navbar {
	@extend .std-row;
	background-color: $primary;
	text-align: center;
}

.std-navbar-icon {
	@include responsive3(height, $navbar-icon-size);
	@include responsive3(width, $navbar-icon-size);
}



.std-navbar-block {
	@extend .std-block;
	@include responsive3(height, $navbar-height);

	&.icon {
		@include responsive3(padding, $navbar-margin)
	}

	&.title-icon {

	}
}


.navbar-start {	
	background-color: transparent;

	@include responsive3(height, $navbar-height);
	@include responsive3(line-height, $navbar-height);

	& > .left-group {
		float: left;
		height: 100%;
	}

	& > .right-group {
		float: right;
		height: 100%;
	}
}


