{
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"env": {
		"browser": true,
		"node": true
	},
	"globals": {
		"$": true
	},
	"extends": "eslint:recommended",
	"rules": {
		"semi": 2,
		"no-console": 0
	}
}