// Color are named following {colorName}-{context}|{shade}
// ex: yellow-llH for "highlighted very light yellow"
//
// {colorname} : 	any user readable color or color designation : yellow, red, bottlegreen, skyblue.
//					No shade should be employed (ex: lightgrey) as they are written afterwards
//					can be used standalone for default value.
// {context} : 		used for dynamic elements (buttons, visual hints...). S for selected, H for highlighted, D for disabled.
// {shade} :  		from very dark, to very light, with 'nothing' as medium shade : ddd, dd, d, -, l, ll, lll

// ** easy way with SASS functions

// GREYS
$grey : #a4a4a4;
$grey-lll: lighten($grey, 80);
$grey-ll: lighten($grey, 40);
$grey-l: lighten($grey, 20);
$grey-d: darken($grey, 20);
$grey-dd: darken($grey, 40);
$grey-ddd: darken($grey, 80);

$coldgrey : #95a1ae;
$coldgrey-lll: lighten($coldgrey, 50);
$coldgrey-ll: lighten($coldgrey, 30);
$coldgrey-l: lighten($coldgrey, 10);
$coldgrey-d: darken($coldgrey, 20);
$coldgrey-dd: darken($coldgrey, 40);
$coldgrey-ddd: darken($coldgrey, 80);

$hotgrey : #bda6a8;
$hotgrey-lll: lighten($hotgrey, 80);
$hotgrey-ll: lighten($hotgrey, 40);
$hotgrey-l: lighten($hotgrey, 20);
$hotgrey-d: darken($hotgrey, 20);
$hotgrey-dd: darken($hotgrey, 40);
$hotgrey-ddd: lighten($hotgrey, 80);

// YELLOWS
$yellow : #e4ba06;
$yellow-lll: lighten($yellow, 80);
$yellow-ll: lighten($yellow, 30);
$yellow-l: lighten($yellow, 10);
$yellow-d: darken($yellow, 10);
$yellow-dd: darken($yellow, 30);
$yellow-ddd: darken($yellow, 80);

// BLUES
$pastelblue : #668B8B;
$pastelblue-lll: lighten($pastelblue, 80);
$pastelblue-ll: lighten($pastelblue, 30);
$pastelblue-l: lighten($pastelblue, 10);
$pastelblue-d: darken($pastelblue, 10);
$pastelblue-dd: darken($pastelblue, 30);
$pastelblue-ddd: darken($pastelblue, 80);



// ** manual way with existing color schemes

// RED
$red: #F44336;
$red-D: #FF8A80;
$red-S: #FF1744;
$red-H: #D50000;
//
$red-lll: #FFEBEE;
$red-ll: #EF9A9A;
$red-l: #EF5350;
$red-d: #E53935;
$red-dd: #D32F2F;
$red-ddd: #B71C1C;

