// Here, colors Scheme can be defined (primary, secondary, tertiary, neutral colors ...)
// any color should refer to the colors from _color.scss

$neutral-lll: 	$grey-lll;
$neutral-ll: 	$grey-ll;
$neutral-l: 	$grey-l;
$neutral: 		$grey;
$neutral-d: 	$grey-d;
$neutral-dd: 	$grey-dd;
$neutral-ddd: 	$grey-ddd; 


$primary: 		$technoblue;
$primary-lll: 	$technoblue-lll;
$primary-ll: 	$technoblue-ll;
$primary-l: 	$technoblue-l;
$primary-d: 	$technoblue-d;
$primary-dd: 	$technoblue-dd;
$primary-ddd: 	$technoblue-ddd;

$secondary-lll:	$yellow-lll; 
$secondary-ll:	$yellow-ll;
$secondary-l:	$yellow-l;
$secondary:		$yellow;
$secondary-d:	$yellow-d;
$secondary-dd:	$yellow-dd;
$secondary-ddd:	$yellow-ddd;