// Scheme variables helps restraining to some colors from the swatch throughout the building of the website
// use mixins to generate elements for you, or write each variables manually.

// SHADE SUFFIX (ex: $primary-dd) : ddd, dd, d, l, ll, lll from very dark to very light
// with 7 levels of shades, it allows to cover most general needs.

// STATE SUFFIX (ex: primary-H) : H for highlight, D for disable, S for selected
// these special states represents particular situations in UX design (ex: clicked), and may use a different tone. 

$neutral: $coldgrey;
$primary: $technoblue;
$secondary: $Red500;

	// config default for shades
	$ddd:50;
	$dd:30;
	$d:10;
	$l:10;
	$ll:30;
	$lll:50;
	// config default for states
	$disable-strength:0.5;
	$selected:#AAAAAA;
	$select-strength:0.5;
	$highlighted:#FFFFFF;
	$highlight-strength:0.5;


// building shades & staes
$neutral-lll: 	lighten($neutral, $lll);
$neutral-ll: 	lighten($neutral, $ll);
$neutral-l: 	lighten($neutral, $l);
$neutral-d: 	darken($neutral, $d);
$neutral-dd: 	darken($neutral, $dd);
$neutral-ddd: 	darken($neutral, $ddd);
$neutral-D: 		fade-out($neutral, $disable-strength);
$neutral-S: 		mix($neutral, $selected, $select-strength);
$neutral-H: 		mix($neutral, $highlighted, $highlight-strength);

$primary-lll: 	lighten($primary, $lll);
$primary-ll: 	lighten($primary, $ll);
$primary-l: 	lighten($primary, $l);
$primary-d: 	darken($primary, $d);
$primary-dd: 	darken($primary, $dd);
$primary-ddd: 	darken($primary, $ddd);
$primary-D: 		fade-out($primary, $disable-strength);
$primary-S: 		mix($primary, $selected, $select-strength);
$primary-H: 		mix($primary, $highlighted, $highlight-strength);

$secondary-lll: 	lighten($secondary, $lll);
$secondary-ll: 	lighten($secondary, $ll);
$secondary-l: 	lighten($secondary, $l);
$secondary-d: 	darken($secondary, $d);
$secondary-dd: 	darken($secondary, $dd);
$secondary-ddd: 	darken($secondary, $ddd);
$secondary-D: 		fade-out($secondary, $disable-strength);
$secondary-S: 		mix($secondary, $selected, $select-strength);
$secondary-H: 		mix($secondary, $highlighted, $highlight-strength);



// @mixin generate-shades( $color,
// 						$ddd: 50, $dd: 30, $d: 10,  
// 						$l: 10, $ll: 30,  $lll: 50) {

// 	// color rules for text & svg icons
// 	&.ddd {	color: darken($color, $ddd); }    
// 	&.dd {		color: darken($color, $dd); }
// 	.#{$color}-d {		color: darken($color, $d); }
// 	.#{$color} {		color: $color; }
// 	.#{$color}-l {		color: lighten($color, $l); }
// 	.#{$color}-ll {		color: lighten($color, $ll); }
// 	.#{$color}-lll {	color: lighten($color, $lll); }

// 	// color rules for backgrounds
// 	.#{$color}-bg-ddd {	background-color: darken($color, $ddd); }    
// 	.#{$color}-bg-dd {	background-color: darken($color, $dd); }
// 	.#{$color}-bg-d {	background-color: darken($color, $d); }
// 	.#{$color}-bg {		background-color: $color; }
// 	.#{$color}-bg-l {	background-color: lighten($color, $l); }
// 	.#{$color}-bg-ll {	background-color: lighten($color, $ll); }
// 	.#{$color}-bg-lll {	background-color: lighten($color, $lll); }
// }

// @mixin generate-states( $color, $selected: #AAAAAA, $highlighted: #FFFFFF,
// 						$fade-coef: 0.5, $select-strength: 0.5, $higlight-strength: 0.5) {

// 	// color rules for text & svg icons
// 	.#{$color}-D { 		color: fade-out($primary, $fade-coef);}
// 	.#{$color}-S { 		color: mix($color, $selected, $select-strength); }
// 	.#{$color}-H { 		color: mix($color, $highlighted, $select-strength); }

// 	// color rules for text & svg icons
// 	.#{$color}-bg-D { 		background-color: fade-out($primary, $fade-coef);}
// 	.#{$color}-bg-S { 		background-color: mix($color, $selected, $select-strength); }
// 	.#{$color}-bg-H { 		background-color: mix($color, $highlighted, $select-strength); }
// }


