$std-offset: 15px;

.centered-padded-div {
	margin-right: auto;
	margin-left: auto;
	padding-left: $std-offset;
	padding-right: $std-offset;
}

.std-row {
	@extend .centered-padded-div;
	height:100%;
	min-width:$min-screen;

	& > .left-group {
		@extend .hidden-list;
		float: left;
		height: 100%;
	}

	& > .right-group {
		@extend .hidden-list;
		float: right;
		height: 100%;
	}
}

.std-list {
	@extend .centered-padded-div;
	border: 1px solid blue;
	&:first-of-type {
		margin-top: $std-offset;
	}
	&:last-of-type {
		margin-bottom: $std-offset;
	}
}

.std-block {
	display:inline-block;
	padding-right: $std-offset;
	padding-left: $std-offset;
	height: 100%;
}