html {
	height:100%;
}

body {
	margin: auto;
	min-width: $min-screen;
	max-width: $max-screen;
	height:100%;	
	position:relative;
	display:flex;
}

.group {
	height: 100%;
}

.group-left{
	float: left;
	height: 100%;
}

.group-right {
	float: right;
	height: 100%;
}

.std-row {
	margin: 0 auto;
	height:100%;

	& > .left {
		@extend .group-left;
	}

	& > .right {
		@extend .group-left;
	}
}



