$footbar-height: 40px;
// $footbar-icon-padding: 13px;
// $navbar-icon-size: $navbar-height - (2 * $navbar-icon-padding);

.footer {
	background-color: $primary-dd;
	@include responsive-3(height, $footbar-height);
	@include responsive-3(line-height, $footbar-height);

	& > .footer-right-block {
		float: right;
	}
};

.footer-menu {
	padding: 0 ($std-offset * 2);	
}; 

.footer-menu-item {
	@extend .std-block;
	@extend .color-dark-dynamic;
}