$txt-xxs: 0.7em;
$txt-xs: 0.8em;
$txt-s: 0.9em;
$txt-m: 1em;
$txt-l: 1.5em;
$txt-xl: 2em;
$txt-xxl: 3em;

@mixin font($font, $style: normal, $weight: normal) {
	font-family: $font, Verdana, sans-serif;
	font-style: $style;
	font-weight: $weight; 
}

// define used fonts
$myfonts : opensans, opensans-light, nevo-bold, nevo, SquareBox, LearningCurve;
@each $myfont in $myfonts {
	@font-face {
		// ../fonts = _assets/fonts, relative to //_assets/style
		font-family: $myfont;
		src:	url('fonts/#{$myfont}.eot');
		src:	url('fonts/#{$myfont}.eot?') format('eot'),
				url('fonts/#{$myfont}.woff2') format('woff'),
				url('fonts/#{$myfont}.woff') format('woff'),
				url('fonts/#{$myfont}.ttf') format('truetype'),
				url('fonts/#{$myfont}.svg') format('svg');;
	}
}

