$min-screen:		320px;
$small-screen: 		768px;
$medium-screen: 	1024px;
$max-screen:		1600px;


// general responsive mixin. 
// ideally, all mixin should be though for responsive designs
@mixin responsive-3($property, $sizeS,
					$coef : 1.5, 
					$sizeM: $sizeS * (1 + $coef),
					$sizeL: $sizeM * (1 + $coef) ) {

	#{$property}: $sizeS;
	@media (min-width: $small-screen) 	{ #{$property}: $sizeM; }
	@media (min-width: $medium-screen)  { #{$property}: $sizeL } 
}

