// -u is for "unit" and means this variable is often called together with a multiplier coeficient
$offset-u: 25px;
$ex-width-u: 100px;

@mixin reset-bounding-box($margin-size: 0, $padding-size: 0, $border-weight: 0, $border-color: transparent) {
	margin: $margin-side;
	padding: $padding-side;
	border: $border-weight solid $border-color;
}

.centered {
	margin-right: auto;
	margin-left: auto;
}

.centered-box {
	@extend .centered-v;
	@extend .centered-h;
}

.centered-v {
	position: absolute;
	top: 50%;
	transform: translateY(-50%); 
}

.centered-h {
	position: absolute;
	left: 50%;
	transform: translateX(-50%); 
}

