// -u is for "unit" and means this variable is often called together with a multiplier coeficient
$offset-u: 25px;
$ex-width-u: 100px;

.centered {
	margin-right: auto;
	margin-left: auto;
}

// <ul> fix : removes usual characteristics. Every listed elements can easily be in <li> tags (list of icons, list of articles, list of blocks, etc...)
.hidden-list {
	padding-left:0;
	list-style-type: none;
	margin-top:0;
	margin-bottom:0;
}

.centered-box {
	@extend .centered-v;
	@extend .centered-h;
}

.centered-v {
	position: absolute;
	top: 50%;
	transform: translateY(-50%); 
}

.centered-h {
	position: absolute;
	left: 50%;
	transform: translateX(-50%); 
}

