$test:1;

@mixin fullBackground($imageName) {

$rootUrl:'/_assets/images/#{$imageName}';
$small: 's';
$medium: 'm';
$large: 'l';
$landscape: 'L';
$portrait: 'P';
$jpg: '.jpg';

	@media (orientation: landscape) {

		@media (min-width: $min-screen)  {
			& {
				background: url(#{$rootUrl}-#{$landscape}#{$small}#{$jpg}) no-repeat center / cover;
				background-attachment: fixed;
			}
		}
		@media (min-width: $small-screen)  {
			& {
				background: url(#{$rootUrl}-#{$landscape}#{$medium}#{$jpg}) no-repeat center / cover;
				background-attachment: fixed;
			}
		}
		@media (min-width: $medium-screen)  {
			& {
				background: url(#{$rootUrl}-#{$landscape}#{$large}#{$jpg}) no-repeat center / cover;
				background-attachment: fixed;
			}
		}
	}

	@media (orientation: portrait) {
		@media (min-width: $min-screen)  {
			& {
				background: url(#{$rootUrl}-#{$portrait}#{$small}#{$jpg}) no-repeat center / cover;
				background-attachment: fixed;
			}
		}
		@media (min-width: $small-screen)  {
			& {
				background: url(#{$rootUrl}-#{$portrait}#{$medium}#{$jpg}) no-repeat center / cover;
				background-attachment: fixed;
			}
		}
		@media (min-width: $medium-screen)  {
			& {
				background: url(#{$rootUrl}-#{$portrait}#{$large}#{$jpg}) no-repeat center / cover;
				background-attachment: fixed;
			}
		}
	}
}
