.start-container {
	margin:auto;
	@include fullBackground(bgMain); 
	@include setBoxSize(95%,95%);
	position:relative;
	box-shadow: 6px 6px 6px $neutral-dd;
}

$mainmenu-width: 160px;
.mainmenu {		
	position:absolute;
	right:0px;
	padding: 30px 15px;
	text-align:center;
	background-color:$neutral-dd;
	color: white;
	@include setBoxSize($mainmenu-width, 100%);

	& > menu-icon {
		margin:auto;
	}
}

.menu-icon {
	display:inline-block;
	@include setBoxSize(100px,100px);
	margin:auto;
	fill:$primary;
}

#menu-text {
	@include globalBoxSize(100%, 100px);
}

.welcome-box {
	position:absolute;
	bottom: 10%;
	right: $mainmenu-width / 2 + $offset-u;
	@include roundedBox(150px);
	@include font(LearningCurve);
	@include test-border();

	background-color:$primary-l;
	color: white;
	font-size: $txt-l;
	text-shadow: 2px 2px 4px black;

	&:hover {
		@include setBoxSize(300px,300px);
	}
}

.enigma {
	margin-left: 40px;
	margin-top: $offset-u * 2;
	padding-top: $offset-u / 3;
	padding-left: $offset-u;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-end;
	height:60%;
	width: 60%;
}

.pixel {
	padding: $offset-u;
	margin: 2px;
	font-size:$txt-xxs;
	box-shadow: 4px 3px 4px 1px rgba($primary-d, 0.5);
	@include setBoxSize(35px, 35px);	
	@extend .primary-button2;
}

.page-previews{

}