body{
	@include bg-color;
}

.start-section {
	@include bg-color($neutral-l);	
	@include set-box-size(100%, 100%);
	position:relative;
}

$start-boxSize:90%;
.start-main {
	@include set-box-size($start-boxSize, $start-boxSize);
	@include box-shadow;
	margin:auto; 
	@include test-hover;
}

.start-aside {
	position:absolute;
	@include bg-color(white);
	@include set-box-size(300px, 100%);
	@include positionR(0);
	

}
.bg {

	& > li {
	}

	li:nth-child(1) {		

	}
	li:nth-child(2) {

	}
	li:nth-child(3) {

	}
	li:nth-child(4) {

	}
	li:nth-child(5) {

	}
}


.start-menu {

	& > li {

		&:first-child {

		}
	}
}