body{
	@include bg-color;
}

.start-icon {
	// @include positionTR(15px);
	fill: $primary;
	@include box-size(36px);
	@include z-front;
}
// .start-open-menu {
// 	@include test;
// 	@include positionTR($stdu, absolute);
// 	@include colorP;
// }

.start-section {
	@include bg-color($neutral-l);	
	@include box-size(100%, 100%);
	position:relative;
}

.magic {
	&:hover {
		.start-aside {
			@include positionR(0);
		}
	}
}

$start-boxSize:75%;
$start-aside-width: 300px;
$start-aside-visible: 40px;
.start-main {

	@include box-size($start-boxSize, $start-boxSize);
	@include box-shadow;
	@include bg-color($neutral-ll);
	@include rounded-boxTL;
	
	margin:auto; 
	margin-top:30px;
	margin-right: $start-aside-width / 2;
	@include padding;

	& h1 {
		@include titleN;
	}

	& em {
		@include txtB;
	}

	& p {
		@include marginB;
	}
}

.start-menu {
	& > li {		
		@include dynamic-themeN;
		@include rounded-box($stdu-ss * 10);	

		@include spacing($stdu-s);
		&:first-child {
			@include dynamic-themeNP;
		}
	}
}

$start-aside-hidden: $start-aside-visible - $start-aside-width;

.start-aside {
	@include bg-color(white);
	@include box-size($start-aside-width, 100%);
	@include padding;
	@include positionR($start-aside-hidden);
	@include transition-position;

	&:hover {
		@include positionR(0);
	}
	& svg {
		@include box-size(32px);
		@include colorPD;
	}
	// & article {
	// 	display:none;
	// }
	& img {
		@include marginB;
	}
	& header {
		@include titleN;
		@include marginB;
	}
}


.start-version {
	@include sssmallN;
	@include marginB;
}

.bg {

	& > li {
		@include themeN;
	}
	li:nth-child(1) {}
	li:nth-child(2) {}
	li:nth-child(3) {}
	li:nth-child(4) {}
	li:nth-child(5) {}
}
.box {
  border-style: solid;
  border-width: 1px;
  display: block;
  width: 100px;
  height: 100px;
  background-color: #0000FF;
  -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.box:hover {
  background-color: #FFCCCC;
  width: 200px;
  height: 200px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}