.start-container {
	margin:auto;
	@include fullBackground(bgMain); 
	@include boxSize(95%,95%);
		
	position:relative;
	box-shadow: 6px 6px 6px $neutral-dd;
}

.menu-icon {
	fill:$primary;
	@include boxSize(100px,100px);
}

$mainmenu-width: 200px;

.mainmenu {
	float:right;
	right:0px;	
	background-color:$neutral-dd;
	color: white;
	@include boxSize($mainmenu-width, 100%);
}

.welcome-box {
	position:absolute;
	bottom: 10%;
	right: $mainmenu-width / 2 + $offset-u;
	@include roundedBox(150px);
	@include font(LearningCurve);
	@include test-border();


	background-color:$primary-l;
	color: white;
	font-size: $txt-l;
	text-shadow: 2px 2px 4px black;

	&:hover {
		@include boxSize(300px,300px);
	}
}

.second-box {
	position:absolute;
	bottom:0px;
	@include roundedBox(200px);	
	background-color: $neutral-l;
} 

.third-box {
	position:absolute;
	bottom:0px;
	right:0px;
	@include boxSize(200px, 400px);
	background-color: $neutral-dd;
	color:white;	
}

img {
	border: 1px solid black;
}

.testcontainer {	
	margin-left: $offset-u * 2;
	margin-top: $offset-u * 2;
	padding-top: $offset-u / 3;
	padding-left: $offset-u;
	// @include dynamic-gradient();
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: baseline;
	height:65%;
	overflow:visible;
	width: 20%;
}

.testelement {
	padding: $offset-u;
	margin:2px;
	font-size:$txt-xxs;
	max-height:80px;
	@include dynamic-transparency($primary-l);
	@include hover($secondary-ll);
	&:hover {
		flex:3;
	}
}

.clear {
	clear:both;
}