
.std-title {
	@include font(nevo-bold, normal, normal);
	font-size: $txt-lll;
	text-align: center;
	font-weight:bold;
	color:$secondary-d;
}

.std-title2 {
	@include font(nevo-bold, normal, normal);
	font-size: $txt-lll;
	text-align: left;
	font-weight: bold;
	color:$secondary-d; 
}

