body {
  @include font(opensans-light, normal, normal);
  font-size: $txt-s;
  @media (min-width: $small-screen) { &{ font-size: $txt; }}
  @media (min-width: $medium-screen) { &{ font-size: $txt-l; }}
}

.std-title {
	@include font(nevo-bold, normal, normal);
	font-size: $txt-lll;
	text-align: center;
	font-weight:bold;
	color:$secondary-d;
}

.std-title2 {
	@include font(nevo-bold, normal, normal);
	font-size: $txt-lll;
	text-align: left;
	font-weight: bold;
	color:$secondary-d; 
}