.std-list {
	@extend .centered;
	&:first-of-type {
		margin-top: $offset-u;
	}
	&:last-of-type {
		margin-bottom: $offset-u;
	}
}

.std-block {
	display:inline-block;
	height: 100%;
	&:first-of-type {
		padding-right: $offset-u;
	}
	&:last-of-type {
		padding-left: $offset-u;
	}
}